<td scope="row" class="fw-bold"><%= link_to "##{room.id}", room %></td>
<td scope="row" class="fw-bold"><%= room.name %></td>
<td scope="row" class="fw-bold"><%= room.type_room %></td>
<td><%= number_to_currency room.hourly_price, locale: :vi %></td>
<td><%= number_to_currency room.day_price, locale: :vi %></td>
<td><%= number_to_currency room.monthly_price, locale: :vi %></td>
<td><%= room.discount %>%</td>
<td><%= room.amount_of_people %></td>
<td><%= room.status ? "Show" : "Hide" %></td>
<td><%= parse_time room.created_at.to_s %></td>
<td>
  <%= link_to "Detail", edit_admin_room_path(room) %> ||
  <%= link_to "Delete", room_path(room), method: :delete %>
</td>
