<% provide(:title, "Create a new room") %>
<%= link_to "Go Back", :back %>
<div class="mx-auto my-2 form_w">
  <h1><%= "Create a new room" %></h1>
  <div class="row">
    <div class="col-md-offset-3">
      <%= form_for @room do |f| %>
        <div class="row">
          <div class="col-6">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, autocomplete: "email",
              class: "form-control my-2", required: true %>
          </div>
          <div class="col-6">
            <%= f.label :type_room %>
            <%= f.text_field :type_room, class: "form-control my-2", required: true %>
          </div>
          <div class="col-4">
            <%= f.label :hourly_price %>
            <%= f.number_field :hourly_price, step: 1000, min: 0, class: "form-control my-2", required: true %>
          </div>
          <div class="col-4">
            <%= f.label :day_price %>
            <%= f.number_field :day_price, step: 1000, min: 0, class: "form-control my-2", required: true %>
          </div>
          <div class="col-4">
            <%= f.label :monthly_price %>
            <%= f.number_field :monthly_price, step: 1000, min: 0, class: "form-control my-2", required: true %>
          </div>
          <div class="col-3">
            <%= f.label :amount_of_people %>
            <%= f.number_field :amount_of_people, min: 0, class: "form-control my-2", required: true %>
          </div>
          <div class="col-3">
            <%= f.label :discount %> (%)
            <%= f.number_field :discount, min: 0, max: 100, class: "form-control my-2", required: true %>
          </div>
          <div class="col-3">
            <%= f.label :status, "Show" %>
            <%= f.radio_button :status, true, checked: true %>
          </div>
          <div class="col-3">
            <%= f.label :status, "Hide" %>
            <%= f.radio_button :status, false %>
          </div>
        </div>
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control my-2", rows: 5, required: true %>
        <%= f.label :photo %>
        <%= f.file_field :photo %>
        <%= image_tag(@room.photo.url, class: "card-img-top my-4") if @room.photo.url %>
        <%= f.submit "Create", class: "btn btn-primary my-4" %>
      <% end %>
    </div>
  </div>
</div>
